/* Pagination */

#cover, #toc { page-break-after: always; }

.chapter { page-break-before: always; }

.chapter > section { page-break-inside: avoid; }

pre { 
  page-break-inside: avoid;
  page-break-before: avoid; 
}

h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }

/* TOC */

#toc a[href]:after {
	content: leader('.') target-counter(attr(href), page);
}

/* Headers & Footers */

@page {
  @bottom-left {
    content: "© 2011 by individual mozilla.org contributors. Content available under a Creative Commons license. http://www.mozilla.org/foundation/licensing/website-content.html";
  }
}
        
/* Borrowed from hackasaurus.org base.css */

@font-face {
    font-family: 'TrashHandRegular';
    src: url('../fonts/TrashHand-webfont.eot');
    src: url('../fonts/TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TrashHand-webfont.woff') format('woff'),
         url('../fonts/TrashHand-webfont.ttf') format('truetype'),
         url('../fonts/TrashHand-webfont.svg#TrashHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaWebPro-Black';
    src: url(../fonts/MetaWebPro-Black.woff) format('woff');
}

#content h1, #content h2 {
  font-weight: normal;
  font-family: 'TrashHandRegular';
}

footer h1, footer h2 {
  font-family: "MetaWebPro-Black";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
}

header .wrapper {
  height: 100px;
}

header a#logo {
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
  background-image: url(../images/header/hackasaurus-blue-logo.png);
  width: 357px;
  height: 24px;
  
  /* This hides the text. */
  text-indent: -3000px;
  white-space: nowrap;
  outline: none;
  overflow: hidden;
}

header a#mozilla {
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  background-image: url(../images/header/mozilla-tab.png);
  width: 118px;
  height: 49px;

  /* This hides the text. */
  text-indent: -3000px;
  white-space: nowrap;
  outline: none;
  overflow: hidden;
}